<div class="w-100 d-flex justify-content-center text-center">
    <div class="column">
        <i><%= get_type_icon(@type.id) %></i>
        <h1><%= @type.name %></h1>
        <h1>Total spent</h1>
        <p><%= @total %></p>
        <h1>Expenses</h1>
        <% @expenses.each do |exp| %>
            <p><%= exp.name %></p>
            <p><%= exp.amount %></p>
            <p><%= exp.created_at %></p>
        <% end %>
    </div>
</div>