<div class="w-100 d-flex justify-content-center text-center">
    <div class="column w-75">
        <h1><%= @type.name %></h1>
        <h1>Total spent</h1>
        <p><%= @total %> €</p>
        <div class="row">
            <% @expenses.each do |exp| %>
                <div class="col-4 col-lg-2">
                    <div class="card">
                        <div class="image">
                            <i><%= get_type_icon(exp.type_id) %></i>
                        </div>
                        <div class="card-inner">
                            <div class="header">
                                <h2><%= exp.name %></h2>
                                <h3><%= get_type_name(exp.type_id) %></h2>
                                <h4><%= exp.amount %> €</h4>
                            </div>
                            <div class="content">
                                <p><%= exp.created_at %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <h4><%= link_to 'Add new', new_expense_path, :class => 'btn btn-success' %></h4>
    </div>
</div>
